<h1>Créditos</h1>

<p>
 Esta página ha sido desarrollada por José Luis Llorente González y Elena Fernández Nieto.
</p>

<img src="/images/Joze.jpg" width="445" height="300" />
<img src="/images/Helen.jpg" width="445" height="300" />

<p>
<a href="https://github.com/elenaCORE/quiz_2017"> URL ACESSO GITHUB</a>
</p>
