<h1>Ayuda</h1>

<p>
Un quiz es una forma de juego o deporte mental, en el que los jugadores (como individuos o en equipos) tratan de responder a las preguntas correctamente. En algunos países, un cuestionario es también una breve evaluación utilizada en educación y campos similares para medir el crecimiento de conocimientos, habilidades y / o habilidades.
</p>
<p>
Este portal esta orientado a la creación de quizzes.
</p>
